{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center align-items-center">
    <form method="POST" action="" style="padding:30px">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="card">
                <h3 class="card-header">Wallet Data Request Form</h3>
                <div class="overflow-auto" style="max-height:500px;">
                    <div class="container">
                        <div class="card-body">
                            <h5>Wallet Address:</h5>
                            <p>{{ address }}</p>
                            <h5>Wallet Owner:</h5>
                            <p> {{ owner }}</p>
                            <h5>Service Fee:</h5>
                            <p>{{ fee }} <i class="fab fa-ethereum"></i></p>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form.requester.label(class="form-control-label", for="request1") }}

                                {% if form.requester.errors %}
                                    {{ form.requester(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.requester.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.requester(class="form-control form-control-lg", for="request1") }}
                                {% endif %}
                                <small id="requestHelp" class="text-muted">
                                    Must be 2-20 characters long.
                                </small>
                            </div>
                            <div class="form-group">
                                {{ form.request_reason.label(class="form-control-label", for="request2") }}

                                {% if form.request_reason.errors %}
                                    {{ form.request_reason(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.request_reason.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.request_reason(class="form-control form-control-lg", for="request2") }}
                                {% endif %}
                                <small id="reasonHelp" class="text-muted">
                                    Must be 2-60 characters long. Ex: "To open bank account"
                                </small>
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label", for="request3") }}

                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg", for="request3") }}
                                {% endif %}
                            </div>
                            <br/>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Request Data</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}